.homeSection {
    background-image: url('/images/HomeCar.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 60px;

    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: var(--white);

    margin-bottom: 16px;
}

.subTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--white);

    margin-bottom: 40px;
}