.filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    height: 68px;
    width: 752px;
    margin-top: 84px;
    margin-bottom: 60px;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
    margin-bottom: 8px;
}

.dropdownWrapper {
    position: relative;
    width: 100%;
}

.dropdownTrigger {
    border: 1px solid var(--white);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 12px;
    padding: 12px 16px;
    width: 204px;
    height: 44px;
    background: var(--white);
    cursor: pointer;
    color: var(--main);
}

/* .dropdownTrigger:hover {
    border-color: rgba(0, 0, 0, 0.12);
} */

.placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.dropdownItem {
    cursor: pointer;
}

.dropdownItem:hover {
    color: var(--main);
}

.dropdownItemActive {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.selectedOption {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.dropdownList {

    border-radius: 12px;
    width: 204px;
    height: 272px;

    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
    background: var(--white);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray);


    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;


    padding: 8px 16px;
    /* замість 8px 0 */
    z-index: 10;

    max-height: 240px;
    overflow-y: auto;


}

.chevron {}

.chevronOpen {}

/* Для стану, коли шеврон відкритий */
.chevron.chevronOpen {}