.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    /* margin-bottom: 60px; */

    padding-top: 84px;
    padding-bottom: 60px;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--gray);
    margin-bottom: 8px;
}

.dropdownWrapper {
    position: relative;
    width: 100%;
}

.dropdownTrigger {
    border: 1px solid var(--white);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 12px;
    padding: 12px 16px;
    width: 204px;
    height: 44px;
    background: var(--white);
    cursor: pointer;
    color: var(--main);
}

.placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.dropdownItem {
    cursor: pointer;
}

.dropdownItem:hover {
    color: var(--main);
}

.dropdownItemActive {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.selectedOption {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.dropdownList {
    border-radius: 12px;
    width: 204px;


    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
    background: var(--white);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray);


    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;


    padding: 8px 16px;
    /* замість 8px 0 */
    z-index: 10;

    max-height: 240px;
    overflow-y: auto;
}

.chevron {
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.chevronOpen {
    transform: rotate(180deg);
}



.inputContainer {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
}

.inputMin {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);

    border-right: 1px solid var(--gray-light);
    border-radius: 12px 0 0 12px;
    width: 160px;
    height: 44px;
    background: var(--white);

    padding: 12px 6px 12px 24px;
}

.inputMax {
    appearance: none;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    /* border-right: 1px solid var(--gray-light); */
    border-radius: 0 12px 12px 0;
    width: 160px;
    height: 44px;
    background: var(--white);

    padding: 12px 6px 12px 24px;
}


.primaryButton {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background: var(--light-blue);
    display: block;
    text-align: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--white);

    padding: 12px 51px;
    margin-bottom: 8px;

}

.primaryButton:hover,
.primaryButton:focus {
    background: var(--dark-blue);
}

.secondaryButton {
    cursor: pointer;
    width: 156px;
    height: 20px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--gray);

}

.secondaryButton:hover,
.secondaryButton:focus {
    color: var(--main);
}

.buttonsContainer {


    margin-top: 24px;
}