.carContainer {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 16px;
    width: 276px;
    height: 464px;

    background: var(--white);
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: var(--main);
    margin-bottom: 8px;
}

.image {
    display: block;
    border-radius: 14px;
    object-fit: cover;
    margin-bottom: 16px;
}


.model {
    color: var(--light-blue);
}

.price {}

.tagsContainer {
    border-radius: 8px;
    padding: 8px;
    background: var(--bg);
    margin-bottom: 24px;
}

.tag {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--main);

}

.tagText {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--main);
}

.tag:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 16px;
    margin-left: 6px;
    margin-right: 8px;
    background-color: var(--gray-light);

    display: inline-block;
    vertical-align: middle;

}

.tagLine {
    width: 1px;
    height: 16px;
    margin-left: 6px;
    margin-right: 8px;
    color: var(--gray-light);
}


.button {
    border: none;
    border-radius: 12px;
    background: var(--light-blue);
    display: block;
    text-align: center;
    padding: 12px 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--white);

    /* margin-top: 20px; */
    /* justify-self: flex-end; */

}

.button:hover,
.button:focus {
    background: var(--dark-blue);
}